#container {
  width: 100vw;
  height: 100vh;
  background-color: darkslateblue;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 1fr;
}
#sidebar {
  grid-area: 1/1/-1/2;
  background-color: rgb(59, 20, 52);
  display: grid;
  justify-items: center;
  align-items: center;
}
header {
  grid-area: 1/2/2/-1;
  background-color: darkslategray;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}
main {
  grid-area: 2/2/-2/-1;
  background-color: darkviolet;
  display: grid;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
}
#gameBox {
  background-color: rgb(53, 16, 48);
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  border-radius: 20px;
}
footer {
  grid-area: -2/2/-1/-1;
  background-color: rgb(50, 20, 66);
}
.boxes {
  border: 1px solid white;
  background-color: black;
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 40px;
  border-radius: 20px;
}
button {
  width: 6rem;
  height: 3rem;
  color: white;
  font-size: 24px;
  background-color: indianred;
  border-radius: 20px;
  border: 1px solid white;
}
input {
  width: 15rem;
  height: 2rem;
  background-color: blueviolet;
  font-size: 24px;
  color: 2px white;
  border-radius: 20px;
}

#sidebar > h1 {
  display: grid;
  justify-content: center;
  justify-self: center;
  align-content: center;
  width: 50%;
  height: 50%;
  font-size: 24px;
  background-color: rgb(217, 255, 255);
  border-radius: 20px;
}
